# APP
APP_ENV=staging
APP_DEBUG=true

# MYSQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=docker_php
MYSQL_USER=user
MYSQL_PASSWORD=password

# DB (PHP)
DB_HOST=mysql
DB_NAME=docker_php
DB_USER=user
DB_PASS=password

OPENWEATHER_API_KEY=OPENWEATHER_API_KEY